﻿@{
    Layout = "_Layout";
    int currentPage = (Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex);
}
@using GoodMobile.MVC.Models.ViewModel;
@model GoodMobile.MVC.Helper.PaginatedList<SimilarProductViewModel>;

<section class="py-3 ">
    <div class="mt-4 mb-4">
        <span class="ms-5"><a class="text-danger text-decoration-none" href="/">Trang chủ</a></span>
        <span class="ms-2">/</span>
        @if (ViewBag.fillter != null){
            <span class="ms-2">@ViewBag.Category</span>
        }
        else{
            <span class="ms-2">Tất cả sản phẩm</span>
        }
        
        
    </div>
    <select id="order-select" class="form-select ms-5 w-25">
        <option selected value="default">Sắp xếp theo</option>
        <option value="name" class="order-item">Tên sản phẩm</option>
        <option value="price-asc" class="order-item">Giá tăng dần</option>
        <option value="price-desc" class="order-item">Giá giảm dần</option>
    </select>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var p in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="@p.Image" alt="..." onclick="GoToProduct(@p.Id)" role="button" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@p.Name</h5>
                                <!-- Product price-->
                                <span class="text-danger">@p.Price</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><button class="btn btn-outline-success mt-auto" onclick="GoToProduct(@p.Id)">Xem sản phẩm</button></div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <center class="align-self-center">
            <div class=" pb-2">Trang <span id="spn-currenPage">@currentPage</span> / @Model.TotalPages</div>
            <div>
                <button class="btn btn-outline-primary" onclick="PreviousPage(@currentPage)">Truớc</button>
                @for (int i = 0; i < Model.TotalPages; i++)
                {
                    <button class="btn btn-outline-primary btn-paginated">@(i + 1)</button>
                }
                <button class="btn btn-outline-primary" onclick="NextPage(@currentPage, @Model.TotalPages)">Tiếp</button>
            </div>
        </center>
    </div>
    <div id="is-order" class="visually-hidden-focusable">@ViewBag.Order</div>
    <div id="is-fillter" class="visually-hidden-focusable">@ViewBag.fillter</div>
</section>
<script type="text/javascript" src="/FE/js/Home.js"></script>




