﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>HTMobile.vn</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/FE/assets/icon.png" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/FE/css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">Trang chủ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">IPhone</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><button class="dropdown-item cate-item" value="4">IPhone 14 Series</button></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><button class="dropdown-item cate-item" value="3">IPhone 13 Series</button></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><button class="dropdown-item cate-item" value="2">IPhone 12 Series</button></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><button class="dropdown-item cate-item" value="1">IPhone 11 Series</button></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><button class="dropdown-item cate-item" value="5">IPhone X / Xr / Xs /Xs Max</button></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><button class="dropdown-item cate-item" value="6">Các dòng thấp hơn</button></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a role="button" class="nav-link active cate-item">Android</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#!">Liên hệ</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Phụ kiện - Đồ chơi</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">Tai nghe</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">Sạc Iphone</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">Đồ hát karaoke</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">HT Mobile</h1>
                <p class="lead fw-normal text-white-50 mb-0">Chuyên mua bán sửa chữa IPhone, Android</p>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-white fw-bolder">HT Mobile - Uy tín đem lại niềm tin</p></div>
        <div class="container"><p class="m-0 text-white">Địa chỉ: Chợ bằng - An Hà - Lạng Giang - Bắc Giang</p></div>
        <div class="container"><p class="m-0 text-white">SĐT: 0123345777</p></div>
        <div class="container"><p class="m-0 text-white">Hỗ trợ vận chuyển bán kính 5km</p></div>
        <br />
        <div class="container"><p class="m-0 text-white fw-bolder">Hình thức thanh toán</p></div>
        <div class="container"><p class="m-0 text-white">Chuyển khoản</p></div>
        <div class="container"><p class="m-0 text-white">Tiền mặt</p></div>
        <div class="container"><p class="m-0 text-white">*Lưu ý không chuyển tiền trước dưới mọi hình thức.</p></div>
        <div class="container"><p class="m-0 text-center text-white">&copy; HTMobile.vn All Rights Reserved</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="/FE/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/FE/js/scripts.js"></script>
</body>
</html>
