﻿@{
    Layout = "_Layout";
}
@using GoodMobile.MVC.Models.ViewModel;
@model GoodMobile.MVC.Models.ViewModel.ProductViewModel
<style>
    .sub-img{
        width: 90px;
        height: 100px;
    }
</style>
<div class="mt-4 mb-4">
    <span class="ms-5"><a class="text-danger text-decoration-none" href="/">Trang chủ</a></span>
    <span class="ms-2">/</span>
    <span class="ms-2"><a class="text-danger text-decoration-none" href="/">@Model.CategoryName</a></span>
    <span class="ms-2">/</span>
    <span class="ms-2">@Model.Name</span>
</div>
<!-- Product section-->
<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img id="mainImg" class="card-img-top mb-5 mb-md-0" src="@Model.images.First()" alt="..." />
                @foreach (string path in Model.images)
                {
                    <img class="sub-img mt-2 me-2" src="@path" alt="..." role="button" onclick="ChangeImg(event)" />
                }
            </div>
            <div class="col-md-6">
                <h1 class="display-6 fw-bolder">@Model.Name</h1>
                <p class="text-success fw-bold">@Model.Description</p>
                <div class="fs-5 mb-4">
                    <span class="text-decoration-line-through">@Model.Price</span>
                    <span class="text-danger fw-bold">@Model.Price</span>
                </div>
                <div class="text-danger fw-bold">KHUYẾN MẠI</div>
                <p>💝 <strong>QUÀ TẶNG ĐI KÈM TRỊ GIÁ <span>400.000 đ</span></strong></p>
                <ul class="t-0">
                    <li><p>Dán cường lực <strong>chính hãng</strong> cho sản phẩm.</p></li>
                    <li><p>Tặng ốp bảo vệ trị giá <strong>100.000 đ</strong>.</p></li>
                    <li><p>Tặng cáp sạc trị giá <strong>200.000 đ</strong>.</p></li>
                    <li><p>Bảo hành Nguồn, Màn hình</p></li>
                    <li>Khuyến mại giá trị khác tại <a href="https://taoxanh.vn/pages/khuyen-mai">Chương trình khuyến mại.</a></li>
                </ul>
                <div class="border rounded p-1" style="background:rgba(204, 204, 204, 0.51)">
                    <h4 class="text-success m-2 fw-bold">HT Mobile cam kết</h4>
					<div>
					    <ol>
                            <li><p>Sản phẩm đảm bảo theo&nbsp;<a target="_blank" rel="noopener noreferrer" href="https://taoxanh.vn/pages/quan-diem-chat-luong">Quan điểm chất lượng.</a></p></li>
                            <li><p>Sản phẩm ATV có độ mượt/ mới cao hơn hàng 99% (căn cứ theo dung lượng Pin hoặc thời gian kích hoạt/bảo hành trên hệ thống).</p></li>
                            <li><p>Yên tâm mua hàng:&nbsp;<a target="_blank" rel="noopener noreferrer" href="http://danhgia.taoxanh.vn/">Đánh giá của khách hàng.</a></p></li>
                        </ol>
                    </div>
                </div>
                <div class="rounded mt-2">
                    <span class="mb-2">
                        <button class="btn btn-danger">
                            <div class="row">
                                <div class="col-3"><i class="bi bi-credit-card display-6"></i></div>
                                <div class="col-9">
                                    <div class="fw-bold">Mua ngay</div>
                                    <div>Giao hàng tận nơi</div>
                                </div>
                            </div>
                        </button>
                    </span>
                    <span class="mb-2">
                        <button class="btn btn-primary">
                            <div class="row">
                                <div class="col-3"><i class="bi bi-wallet display-6"></i></div>
                                <div class="col-9">
                                    <div class="fw-bold">Mua tại cửa hàng</div>
                                    <div>Liên hệ</div>
                                </div>
                            </div>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Các sản phẩm tương tự</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @if (ViewBag.SimilarProductVM != null)
            {
                foreach (SimilarProductViewModel p in ViewBag.SimilarProductVM)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="@p.Image" alt="..." onclick="GoToProduct(@p.Id)" role="button"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@p.Name</h5>
                                    <!-- Product price-->
                                    <span class="text-danger">@p.Price</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><button class="btn btn-outline-success mt-auto" onclick="GoToProduct(@p.Id)">Xem sản phẩm</button></div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<script type="text/javascript" src="/FE/js/DetailProduct.js"></script>